@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin font($f-w, $f-s, $l-h) {
  font-weight: $f-w;
  font-size: $f-s;
  line-height: $l-h;
}
