$primary-bg-color: #0f1f38;
$secondary-bg-color: #034466;
$hover-bg-color: #071c3e;
$transparent-bg-color: rgba(255, 255, 255, 0.05);

$primary-text-color: #8e7970;

$accent-color: #f55449;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$first-transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
$second-transition: 1500ms cubic-bezier(0.4, 0, 0.2, 1);
