<section class="section" id="about">
  <div class="container">
    <h2 class="about__title">About me</h2>
    <div class="about__box">
      <div class="about__parent">
        <div class="about__card">
          <div class="about__logo">
            <span class="about__circle about__circle1"></span>
            <span class="about__circle about__circle2"></span>
            <span class="about__circle about__circle3"></span>
            <span class="about__circle about__circle4"></span>
            <span class="about__circle about__circle5">
              <svg class="about__svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-flag"></use>
              </svg>
            </span>
          </div>
          <div class="about__glass"></div>
          <div class="about__content">
            <div class="about__wrapper">
              <img class="about__img" src="./images/ukraine.png" alt="" />
            </div>
            <span class="about__text">I'm from Ukraine</span>
          </div>
        </div>
      </div>
      <div class="about__parent">
        <div class="about__card">
          <div class="about__logo">
            <span class="about__circle about__circle1"></span>
            <span class="about__circle about__circle2"></span>
            <span class="about__circle about__circle3"></span>
            <span class="about__circle about__circle4"></span>
            <span class="about__circle about__circle5">
              <svg class="about__svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-university"></use>
              </svg>
            </span>
          </div>
          <div class="about__glass"></div>
          <div class="about__content">
            <div class="about__wrapper">
              <img
                class="about__img about__image"
                src="./images/sumdu.png"
                alt=""
              />
            </div>
            <span class="about__text">Sumy State University</span>
          </div>
        </div>
      </div>
      <div class="about__parent">
        <div class="about__card">
          <div class="about__logo">
            <span class="about__circle about__circle1"></span>
            <span class="about__circle about__circle2"></span>
            <span class="about__circle about__circle3"></span>
            <span class="about__circle about__circle4"></span>
            <span class="about__circle about__circle5">
              <svg class="about__svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-it"></use>
              </svg>
            </span>
          </div>
          <div class="about__glass"></div>
          <div class="about__content">
            <div class="about__wrapper">
              <img class="about__img" src="./images/goit.png" alt="" />
            </div>
            <span class="about__text">GoIT Bootcamp Fullstack course</span>
          </div>
        </div>
      </div>
      <div class="about__parent">
        <div class="about__card">
          <div class="about__logo">
            <span class="about__circle about__circle1"></span>
            <span class="about__circle about__circle2"></span>
            <span class="about__circle about__circle3"></span>
            <span class="about__circle about__circle4"></span>
            <span class="about__circle about__circle5">
              <svg class="about__svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-rubik"></use>
              </svg>
            </span>
          </div>
          <div class="about__glass"></div>
          <div class="about__content">
            <div class="about__wrapper">
              <img class="about__img" src="./images/rubik.png" alt="" />
            </div>
            <span class="about__text">Rubik's Cube Record: 34 s</span>
          </div>
        </div>
      </div>
      <div class="about__parent">
        <div class="about__card">
          <div class="about__logo">
            <span class="about__circle about__circle1"></span>
            <span class="about__circle about__circle2"></span>
            <span class="about__circle about__circle3"></span>
            <span class="about__circle about__circle4"></span>
            <span class="about__circle about__circle5">
              <svg class="about__svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-growth"></use>
              </svg>
            </span>
          </div>
          <div class="about__glass"></div>
          <div class="about__content">
            <div class="about__wrapper">
              <img class="about__img" src="./images/developer.png" alt="" />
            </div>
            <span class="about__text"
              >Motivated developer, coding enthusiast</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="skills-contribution">
      <h3 class="skills-contribution__title">Yearly Github activity</h3>
      <table class="skills-contribution__table" id="contribution-table"></table>
      <div class="skills-contribution__wrapper">
        <div class="skills-contribution__box skills-boxes">
          <p class="skills-contribution__text" id="contribution-count"></p>
          <p class="skills-contribution__text">
            contributions in the last year
          </p>
        </div>
        <div class="skills-boxes">
          <p class="skills-contribution__text">Less</p>
          <div class="skills-box__cube skills-box__cube--first"></div>
          <div class="skills-box__cube skills-box__cube--second"></div>
          <div class="skills-box__cube skills-box__cube--third"></div>
          <div class="skills-box__cube skills-box__cube--fourth"></div>
          <div class="skills-box__cube skills-box__cube--fifth"></div>
          <p class="skills-contribution__text">More</p>
        </div>
      </div>
    </div>
  </div>
</section>
