<section class="contact section" id="contact">
  <div class="container">
    <h2 class="contact__title">Contact me</h2>
    <div class="contact__wrapper">
      <div>
        <ul class="contact__list">
          <li class="contact__item">
            <a
              class="contact__link"
              aria-label="Cellphone"
              href="tel:+380970182549"
              ><svg class="contact__icon" width="45" height="45">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              <p class="contact__name">
                +38&nbsp;097&nbsp;018&nbsp;25&nbsp;49
              </p></a
            >
          </li>
          <li class="contact__item">
            <a
              class="contact__link"
              aria-label="Email"
              href="mailto:soloviov.o.m@gmail.com"
              ><svg class="contact__icon" width="45" height="45">
                <use href="./images/sprite.svg#icon-email"></use>
              </svg>
              <p class="contact__name">soloviov.o.m@gmail.com</p></a
            >
          </li>
          <li class="contact__item">
            <a
              class="contact__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Location"
              href="https://goo.gl/maps/oDP93TTPT6Vt38Tg8"
              ><svg class="contact__icon" width="40" height="40">
                <use href="./images/sprite.svg#icon-location"></use>
              </svg>
              <p class="contact__name">Sumy, Zasumska 5</p></a
            >
          </li>
        </ul>
      </div>
      <div class="contact__box">
        <img class="contact__img" src="./images/contact.png" alt="Contact" />
      </div>
    </div>
  </div>
</section>
