<section class="section" id="contact">
  <div class="container">
    <h2 class="contact__title">Contact me</h2>
    <div>
      <div>
        <ul class="footer-contact__list">
          <li class="footer-contact__item">
            <a
              class="footer-contact__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Linkedin"
              href="https://www.instagram.com/alex_solovej/"
              ><svg class="footer-contact__icon" width="45" height="45">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              <p class="footer-contact__name">Instagram</p></a
            >
          </li>
          <li class="footer-contact__item">
            <a
              class="footer-contact__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Linkedin"
              href="https://t.me/OleksandrSoloviov"
              ><svg class="footer-contact__icon" width="45" height="45">
                <use href="./images/sprite.svg#icon-email"></use>
              </svg>
              <p class="footer-contact__name">Telegram</p></a
            >
          </li>
          <li class="footer-contact__item">
            <a
              class="footer-contact__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Github"
              href="https://goo.gl/maps/oDP93TTPT6Vt38Tg8"
              ><svg class="footer-contact__icon" width="40" height="40">
                <use href="./images/sprite.svg#icon-location"></use>
              </svg>
              <p class="footer-contact__name">Github</p></a
            >
          </li>
          <li class="footer-contact__item">
            <a
              class="footer-contact__link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Linkedin"
              href="https://www.linkedin.com/in/oleksandr-soloviov/"
              ><svg class="footer-contact__icon" width="45" height="45">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
              <p class="footer-contact__name">Linkedin</p></a
            >
          </li>
        </ul>
      </div>
      <div class="contact__box">
        <img class="contact__img" src="./images/contact.png" alt="" />
      </div>
    </div>
  </div>
</section>
