<section class="skills section" id="expertise">
  <div class="container">
    <h2 class="skills__title">Expertise</h2>
    <div class="skills__box">
      <div class="skills__wrapper">
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/js.png"
                alt="js"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/react.png"
                alt="react"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/typescript.png"
                alt="typescript"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/firebase.png"
                alt="firebase"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/git.png"
                alt="git"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/material-ui.png"
                alt="material-ui"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="skills__wrapper">
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/css.png"
                alt="css"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/redux.png"
                alt="redux"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/mongodb.png"
                alt="mongodb"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/api.png"
                alt="api"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/github.png"
                alt="github"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="skills__wrapper">
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/html.png"
                alt="html"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/sass.png"
                alt="sass"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/nodejs.png"
                alt="nodejs"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxeses">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/axios.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/webpack.png"
                alt="webpack"
              />
            </div>
          </div>
        </div>
        <div class="skills-boxes">
          <div class="skills-box">
            <div class="skills-box__border">
              <img
                class="skills-box__img"
                src="./images/icons/figma.png"
                alt="figma"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
