<section class="skills section" id="expertise">
  <div class="skills-container container">
    <div class="skills-contribution">
      <h3 class="skills-contribution__title">Yearly Github activity</h3>
      <table class="skills-contribution__table" id="contribution-table"></table>
      <div class="skills-contribution__wrapper">
        <div class="skills-contribution__box">
          <p class="skills-contribution__text" id="contribution-count"></p>
          <p class="skills-contribution__text">
            contributions in the last year
          </p>
        </div>
        <div class="skills-box">
          <p class="skills-contribution__text">Less</p>
          <div class="skills-box__cube skills-box__cube--first"></div>
          <div class="skills-box__cube skills-box__cube--second"></div>
          <div class="skills-box__cube skills-box__cube--third"></div>
          <div class="skills-box__cube skills-box__cube--fourth"></div>
          <div class="skills-box__cube skills-box__cube--fifth"></div>
          <p class="skills-contribution__text">More</p>
        </div>
      </div>
    </div>
  </div>
</section>
