<div class="menu-container js-menu-container" id="mobile-menu">
  <button
    type="button"
    class="menu-toggle menu-toggle--close js-close-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      class="menu-toggle__icon"
      width="40"
      height="40"
      aria-label="Menu toggle"
    >
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <div class="mobile-menu">
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list list">
        <li class="mobile-menu__item">
          <a href="#home" class="mobile-menu__link">Home</a>
        </li>

        <li class="mobile-menu__item">
          <a href="#expertise" class="mobile-menu__link">Expertise</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#projects" class="mobile-menu__link">Projects</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#about" class="mobile-menu__link">About me</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#contact" class="mobile-menu__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-contact__list">
      <li class="mobile-contact__item">
        <a
          class="mobile-contact__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Github"
          href="https://github.com/SoloviovO"
          ><svg class="mobile-contact__icon" width="45" height="45">
            <use href="./images/sprite.svg#icon-github"></use></svg
        ></a>
      </li>
      <li class="mobile-contact__item">
        <a
          class="mobile-contact__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Linkedin"
          href="https://www.linkedin.com/in/oleksandr-soloviov/"
          ><svg class="mobile-contact__icon" width="50" height="50">
            <use href="./images/sprite.svg#icon-linkedin"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</div>
