<section class="projects section" id="projects">
  <div class="container">
    <h2 class="projects__title">Projects</h2>
    <div class="slider">
      <div class="slider__item">
        <div class="slider__box">1</div>
      </div>
      <div class="slider__item"><div class="slider__box">2</div></div>
      <div class="slider__item">
        <div class="slider__box">
          <div class="slider-small">
            <div class="slider__item--small">
              <div class="slider__box--small">
                <img
                  class="slider-small__img"
                  src="./images/example.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="slider__item--small">
              <div class="slider__box--small">
                <img
                  class="slider-small__img"
                  src="./images/example.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="slider__item--small">
              <div class="slider__box--small">
                <img
                  class="slider-small__img"
                  src="./images/example.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="slider__item--small">
              <div class="slider__box--small">
                <img
                  class="slider-small__img"
                  src="./images/example.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <h3 class="slider__title">Title</h3>
          <p class="slider__description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus debitis vero saepe sapiente, quis praesentium
            perferendis sed dicta veniam corporis.
          </p>
          <div class="slider__buttons">
            <a
              class="slider__btn"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Resume"
              href="https://drive.google.com/file/d/18eaeayipLXfTNaQBDB0FuB6Tw2DYqUoe/view?usp=sharing"
            >
              <svg class="slider__icon" width="25" height="25">
                <use href="./images/sprite.svg#icon-link"></use>
              </svg>
              <p class="slider__text">GitHub</p></a
            >
            <a
              class="slider__btn"
              target="_blank"
              rel="noopener noreferrer nofollow"
              aria-label="Resume"
              href="https://drive.google.com/file/d/18eaeayipLXfTNaQBDB0FuB6Tw2DYqUoe/view?usp=sharing"
            >
              <svg class="slider__icon" width="25" height="25">
                <use href="./images/sprite.svg#icon-link"></use>
              </svg>
              <p class="slider__text">Demo</p></a
            >
          </div>
        </div>
      </div>
      <div class="slider__item"><div class="slider__box">4</div></div>
      <div class="slider__item"><div class="slider__box">5</div></div>
      <div class="slider__item"><div class="slider__box">6</div></div>
    </div>
  </div>
</section>
