.contact {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 50px;

  @include tablet {
    flex-direction: row;
    gap: 100px;
  }

  @include desktop {
    gap: 200px;
  }
}

.contact__box {
  width: 100%;
  height: auto;
  opacity: 0.7;

  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: 500px;
  }
}

.contact__img {
  width: 100%;
  height: auto;
}

.contact__list {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  @include tablet {
    gap: 35px;
  }
}

.contact__link {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact__icon {
  width: 35px;
  height: 35px;
  fill: $secondary-bg-color;
  transition: fill $main-transition;

  @include tablet {
    width: 35px;
    height: 35px;
  }

  @include desktop {
    width: 45px;
    height: 45px;
  }
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: $accent-color;
}

.contact__name {
  color: $primary-text-color;
  transition: color $main-transition;
  @include font(500, 18px, 24px);

  @include desktop {
    @include font(500, 24px, 30px);
  }
}

.contact__link:hover .contact__name,
.contact__link:focus .contact__name {
  color: $accent-color;
}
