.contact {
  padding-bottom: 40px;

  @include tablet {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.contact__wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: 50px;

  @include tablet {
    flex-direction: row;
    gap: 100px;
  }

  @include desktop {
    justify-content: flex-end;
    gap: 50px;
  }
}

.contact__box {
  width: 100%;
  height: auto;
  opacity: 0.7;

  @include mobile {
    width: 450px;
  }

  @include tablet {
    width: 500px;
  }
  @include desktop {
    display: none;
  }
}

.contact__img {
  width: 100%;
  height: auto;
}

.contact__list {
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;

  @include tablet {
    gap: 35px;
  }
}

.contact__link {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact__icon {
  width: 35px;
  height: 35px;
  fill: $secondary-bg-color;
  transition: fill $main-transition;

  @include tablet {
    width: 35px;
    height: 35px;
  }

  @include desktop {
    width: 45px;
    height: 45px;
  }
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: $accent-color;
}

.contact__name {
  color: $primary-text-color;
  transition: color $main-transition;
  @include font(500, 18px, 24px);

  @include desktop {
    @include font(500, 24px, 30px);
  }
}

.contact__link:hover .contact__name,
.contact__link:focus .contact__name {
  color: $accent-color;
}

.scene-box {
  display: none;

  @include desktop {
    display: block;
    cursor: pointer;
    width: 700px;
    height: 350px;
  }
}

.centered,
.cube > .piece > .element > .sticker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.scene > .pivot {
  width: 0;
  height: 0;
  transition: 0.18s;
}
.scene .anchor {
  width: 2em;
  height: 6em;
}
.scene div {
  position: absolute;
  transform-style: inherit;
}

#piece4 > .element.top > .sticker {
  background-image: URL('https://i.ibb.co/TTSJxCV/logo.png');
  background-size: cover;
}

.cube {
  font-size: 190%;
  margin-left: -1em;
  margin-top: -1em;
}
.cube > .piece {
  width: 1.9em;
  height: 1.9em;
}
.cube > .piece > .element {
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  outline: 1px solid transparent;
  border: 0.05em solid #0a0a0a;
  border-radius: 10%;
}
.cube > .piece > .element.left {
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(180deg) translateZ(1em);
}
.cube > .piece > .element.right {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(90deg) translateZ(1em);
}
.cube > .piece > .element.back {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(-90deg) translateZ(1em);
}
.cube > .piece > .element.front {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(1em);
}
.cube > .piece > .element.bottom {
  transform: rotateX(-90deg) rotateY(0deg) rotateZ(-90deg) translateZ(1em);
}
.cube > .piece > .element.top {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(180deg) translateZ(1em);
}
.cube > .piece > .element > .sticker {
  transform: translateZ(2px);
  width: 95%;
  height: 95%;
  border-radius: 10%;
  outline: 1px solid transparent;
  box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25),
    inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
}
.cube > .piece > .element > .sticker.blue {
  background-color: #001ca8;
}
.cube > .piece > .element > .sticker.green {
  background-color: #006e16;
}
.cube > .piece > .element > .sticker.white {
  background-color: #ddd;
}
.cube > .piece > .element > .sticker.yellow {
  background-color: #e0ae00;
}
.cube > .piece > .element > .sticker.orange {
  background-color: #ff5000;
}
.cube > .piece > .element > .sticker.red {
  background-color: #df0500;
}

.scene__wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene__text {
  text-align: center;
  color: $primary-text-color;

  @include font(500, 18px, 24px);
}

.scene__icon {
  transform: rotate(-90deg);
  fill: $primary-text-color;
}
