.skills__title {
  margin-bottom: 250px;

  @include font(500, 24px, 30px);
  color: $primary-text-color;
  text-align: center;

  @include tablet {
    margin-bottom: 60px;

    @include font(500, 28px, 36px);
  }

  @include desktop {
    margin-bottom: 80px;

    @include font(500, 42px, 48px);
  }
}

.skills__title::before {
  margin-right: 15px;

  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  border-right: 3px solid $primary-text-color;
  border-bottom: 3px solid $primary-text-color;
  transform: rotate(-45deg) skew(15deg, 15deg);

  @include tablet {
    margin-right: 30px;

    width: 18px;
    height: 18px;
  }

  @include desktop {
    width: 25px;
    height: 25px;
    border-right: 4px solid $primary-text-color;
    border-bottom: 4px solid $primary-text-color;
  }
}

.skills__box {
  @media screen and (max-width: 767px) {
    margin: 0 -200px;
    transform: rotate(90deg);
  }
}

.skills-boxes {
  transform: translateY(150%);
  visibility: hidden;
  opacity: 0;
  transition: transform $first-transition, visibility $first-transition,
    opacity $first-transition;
}

.skills-boxes.show {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.skills-boxeses {
  transform: translateY(80%);
  visibility: hidden;
  opacity: 0;
  transition: transform $second-transition, visibility $second-transition,
    opacity $second-transition;
}

.skills-boxeses.show {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px 35px;

  @include tablet {
    gap: 40px;
  }
  @include desktop {
    gap: 65px;
  }
}

.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 75px;
  transform: rotate(45deg);
  transform: scale(1);
  transition: transform $main-transition, box-shadow $main-transition;
  cursor: pointer;

  @include tablet {
    width: 75px;
    height: 75px;
  }

  @include desktop {
    width: 120px;
    height: 120px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1) rotate(45deg);
    box-shadow: 0 0 20px $accent-color;
  }
}

.skills-box__border {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $primary-bg-color;
  border-radius: 10px;

  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * 2px);
    left: calc(-1 * 2px);
    z-index: -1;
    width: calc(100% + 2px * 2);
    height: calc(100% + 2px * 2);
    background: linear-gradient(
      60deg,
      $primary-bg-color,
      $accent-color,
      $secondary-bg-color,
      $accent-color
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * 5px);
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.skills-box__border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box__img {
  width: 50px;
  transform: rotate(-135deg);
  transform: scale(1);
  transition: transform $main-transition;

  @include tablet {
    transform: rotate(-45deg);
  }

  @include desktop {
    width: 90px;
  }
}

.skills-box:hover .skills-box__img,
.skills-box:focus .skills-box__img {
  transform: scale(0.85) rotate(-135deg);

  @include tablet {
    transform: scale(0.85) rotate(-45deg);
  }
}

.project {
  @media screen and (max-width: 767px) {
    margin-top: 200px;
  }
}
