.projects {
  @media screen and (max-width: 767px) {
    margin-top: 200px;
  }
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
}

.slider__item {
  display: flex;
  justify-content: center;

  @include desktop {
    opacity: 0.8;
    transition: opacity $main-transition;
  }
}

.slider__item.slick-current {
  opacity: 1;
  @include desktop {
    opacity: 1;
  }
}

.slider__item.slick-active {
  @media screen and (max-width: 1279px) {
    opacity: 1;
  }
}

.slider__box {
  padding: 20px;

  width: 290px;
  height: 420px;
  border-radius: 15px;
  background-color: $secondary-bg-color;
  transition: background-color $main-transition;

  @include tablet {
    width: 290px;
    height: 350px;
  }

  @include desktop {
    width: 350px;
    height: 460px;
  }
}

.slider__box:hover,
.slider__box:focus {
  background-color: $hover-bg-color;
}

.slider-small {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 10px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.slider__item--small {
  display: flex;
  justify-content: center;
}

.slider__box--small {
  width: 120px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;

  @include tablet {
    width: 120px;
    height: 130px;
  }

  @include desktop {
    width: 140px;
    height: 180px;
  }
}

.slider-small__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__title {
  margin-bottom: 20px;
  text-align: center;
  @include font(500, 28px, 36px);

  color: $primary-text-color;

  @include tablet {
    margin-bottom: 10px;
    @include font(500, 24px, 30px);
  }
}

.slider__description {
  margin-bottom: 20px;
  height: 80px;

  @include font(500, 12px, 18px);

  color: $primary-text-color;

  @include tablet {
    margin-bottom: 10px;

    height: 80px;
    @include font(500, 13px, 18px);
  }

  @include desktop {
    height: 120px;
    @include font(500, 16px, 24px);
  }
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 140px;
  height: 40px;
  border-radius: 30px;
  text-align: center;

  background-color: transparent;
  border: 2px solid $primary-text-color;
  transition: border $main-transition;
}

.slider__text {
  @include font(500, 14px, 24px);

  color: $primary-text-color;
  @include tablet {
    @include font(500, 14px, 24px);
  }

  @include desktop {
    @include font(500, 18px, 24px);
  }
}

.slider__btn:not(:last-child) {
  margin-right: 20px;
}

.slider__btn:hover,
.slider__btn:focus {
  border: 2px solid $accent-color;
}

.slider__icon {
  fill: $primary-text-color;
}

.slider .slick-dots {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  margin: 0px 15px;
}
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: $primary-text-color;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid $primary-text-color;
}
